@model IEnumerable<API.DTOs.Employees.EmployeeDto>

@{
    //ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Employee</h6>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-end mb-2">
                <a href="/Employee/CreateEmp">Add New Employee</a>
            </div>
            <div class="table-responsive">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="employeeTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                <tr role="row">
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" style="width: 130px;">
                                        @Html.DisplayNameFor(model => model.Guid)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                        @Html.DisplayNameFor(model => model.Nik)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                        @Html.DisplayNameFor(model => model.BirthDate)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                        @Html.DisplayNameFor(model => model.Gender)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                        @Html.DisplayNameFor(model => model.HiringDate)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                    </th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Guid)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nik)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BirthDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HiringDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                                @Html.ActionLink("Edit", "UpdateEmp", new { id = item.Guid }) |
                                                @Html.ActionLink("Details", "DetailsEmp", new { guid = item.Guid }) |
                                            @Html.ActionLink("Delete", "DeleteEmp", new { guid = item.Guid })
                                        </td>
                                    </tr>
                                }
                                </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
